*{
    margin:0;
    padding:0;
}
body{
    background: rgb(12, 12, 82);
    color:white;

}
nav{
    display:flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    background-color: rgb(19, 19, 65);
}
.left{
    font-size: 1.5rem;
}
nav ul{
    display: flex;
    justify-content: center;
}
nav ul li{
    list-style: none;
    margin:0 23px;
}
.firstsection{
    display: flex;
    justify-content: space-around;
    margin: 80px 0;
}
.firstsection> div{
    width: 40%;
}
.rightsection img{
    width:80%;
    margin: 50px 0;
}
.leftsection{
    font-size: 3rem;
    margin: 30px;
}